#main {
    background-color: aquamarine;
    padding-bottom: 25px;
    padding-top: 12px;
}

nav#nav {
    background: cadetblue;
}

#nav span {
    background: #6b0b0b;
    padding: 6px 52px;
    color: aqua;
    box-shadow: 0px 7px 20px black;
    border-radius: 10px;
}

#form-group{
    text-align: center;
}

#userInput {
    padding: 8px 30px;
    width: 360px;
    text-align: center;
    margin: auto;
}

#btn-btn{
    text-align: center;
}

#removeResult{
    padding: 5px 16px;
    margin: 30px 11px;
}

#show-result {
    margin: auto;
    width: 250px;
    /* border: 1px solid; */
    height: 50px;
    
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #353027b8;
    padding-top: 14px;
    border-radius: 5px;
    font-family: fantasy;
    box-shadow: 0px 5px 20px black;
    margin-bottom: 20px;
    }

.show-result-two{
    margin: auto;
    width: 250px;
    border: 1px solid;
    height: 72px;
   
    
    text-align: center;
    font-size: 14px;
    color: white;
    background-color: #353027b8;
    padding-top: 14px;
    border-radius: 5px;
}

footer#footer-section {
    background: #1222234a;
    color: cornsilk;
    text-align: center;
    
}

#footer-section p {
    padding: 12px 0px;
    color: #12211c;
    font-size: 11px;
}

#footer-section a{
    color: #45460d;
    margin-left: 10px;
}

.totalResult {
    width: 200px;
    border: 1px solid red;
    height: 80px;
    margin: auto;
}